@import './defaults.scss';

.input {
    border: none;
    border-bottom: 1px solid $font-color;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    color: $primary-color;
    background: none;
    display: block;
    width: 100%;
    margin-top: 60px;
    padding-bottom: 7px;
    &:focus {
        outline: none;
    }

    &.empty {
        border-bottom: 1px solid $error-color;
    }
}